
.accessUi {
    --text-main-color: #222222;
    --text-bg-color: white;
    --text-silver-color: silver;
    --border-main: #eeeeee;
    --border-hover: silver;

    --btn-main-bg: silver;
    --btn-main-bg-hover: #999999;

    --inp-label: #555555;

    --btn-primary-bg: #3f6ad8;
    --btn-primary-bg-hover: #003eaa;
    --btn-primary-text: #eeeeee;

    --alert-success-bg: #d8f3e5;
    --alert-success-text: #1e6641;
    --alert-warning-bg: #fdf1d3;
    --alert-warning-text: #806013;

    --permission-yes: #234f1e;
    --permission-no: #9c1001;
}

.accessUi .breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
}
.accessUi .breadcrumb-item.active {
    color: var(--inp-label);
}
.accessUi .breadcrumb-item > a,
.accessUi .breadcrumb-item > a:visited {
    text-decoration: none;
    color: var(--btn-primary-bg);
}
.accessUi .breadcrumb-item > a:hover {
    text-decoration: underline;
    color: var(--btn-primary-bg-hover);
}
.accessUi .breadcrumb-item + .breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: var(--inp-label);
    content: "/";
}

.accessUi .fade-enter-active,
.accessUi .fade-leave-active {
    transition: opacity 0.5s ease;
}

.accessUi .fade-enter-from,
.accessUi .fade-leave-to {
    opacity: 0;
}

.accessUi .alert {
    padding: 1rem;
    border-radius: 5px;
}

.accessUi .alert-success {
    color: var(--alert-success-text);
    background-color: var(--alert-success-bg);
}
.accessUi .alert-warning {
    color: var(--alert-warning-text);
    background-color: var(--alert-warning-bg);
}

.accessUi {
    color: var(--text-main-color);
}

.accessUi .list {
    list-style-type: none;
    column-count: 3;
    margin: 0;
    padding: 0;
}

.accessUi-rules-list .list > .rule-item,
.accessUi-owners-list .list > .owner-item,
.accessUi-inherits-list .list > .inherit-item,
.accessUi-permissions-list .list > .permission-item {
    display: inline-block;
    vertical-align: top;
    width: 98%;
    margin-bottom: 1rem;
}
.accessUi-rules-list .rule-item details,
.accessUi-owners-list .owner-item details,
.accessUi-owners-list .owner-item article,
.accessUi-inherits-list .inherit-item details,
.accessUi-inherits-list .inherit-item article,
.accessUi-permissions-list .permission-item details {
    max-width: 400px;
    width: 95%;
    padding: 1rem;
    border-radius: 7px;
    position: relative;
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
    margin-bottom: 1rem;
}
.accessUi-owners-list .owner-item article,
.accessUi-inherits-list .inherit-item article {
    padding-bottom: 2rem;
}

.accessUi-rules-list .rule-item summary,
.accessUi-owners-list .owner-item summary,
.accessUi-owners-list .owner-item h4,
.accessUi-inherits-list .inherit-item summary,
.accessUi-inherits-list .inherit-item h4,
.accessUi-permissions-list .permission-item summary {
    margin: -1rem;
    padding: 1rem 110px 1rem 1rem;
    border-radius: 7px;
    background-color: var(--text-bg-color);
    box-shadow: 0 20px 27px 0 rgba(0,0,0,.05);
}
.accessUi-owners-list .owner-item h4,
.accessUi-inherits-list .inherit-item h4 {
    font-size: 16px;
}
.accessUi-owners-list .owner-item h4 {
    padding-right: 210px;
}

.accessUi-permissions-list .permission-item summary .badges {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-width: 250px;
    text-align: right;
    overflow: hidden;
}
.accessUi-permissions-list .permission-item details[open] > summary > .badges {
    display: none;
}

.accessUi-rules-list .rule-item article,
.accessUi-permissions-list .permission-item article {
    margin-top: 2rem;
}
.accessUi-rules-list .rule-item article p,
.accessUi-permissions-list .permission-item article p {
    margin: 1rem 0;
}
.accessUi-permissions-list .permission-item .guard_name,
.accessUi-permissions-list .permission-item .guard_option_name {
    font-size: small;
    margin: 0;
    padding: 1rem;
    border-left: 3px solid var(--border-hover);
}
.accessUi-permissions-list .permission-item .guard_option_name .badge {
    margin-right: 1rem;
}

.accessUi-rules-list .rule-item .options,
.accessUi-permissions-list .permission-item .options {
    color: var(--text-silver-color);
    font-size: small;
}
.accessUi-rules-list .rule-item time,
.accessUi-owners-list .owner-item time,
.accessUi-inherits-list .inherit-item time,
.accessUi-permissions-list .permission-item time {
    color: var(--text-silver-color);
    float: right;
    font-size: x-small;
}

.accessUi-owners-list .owner-item .type,
.accessUi-inherits-list .inherit-item .type {
    position: absolute;
    bottom: 5px;
    left: 1rem;
    color: var(--text-silver-color);
}
.accessUi-owners-list .owner-item time,
.accessUi-inherits-list .inherit-item time {
    position: absolute;
    bottom: 5px;
    right: 1rem;
}
.accessUi-owners-list .owner-item h4 .original_id,
.accessUi-inherits-list .inherit-item h4 .original_id {
    float: right;
    color: var(--text-silver-color);
    font-weight: normal;
}

.accessUi-rules-list > fieldset,
.accessUi-owners-list > fieldset,
.accessUi-inherits-list > fieldset,
.accessUi-permissions-list > fieldset {
    border: none;
}
.accessUi-rules-list .rule-item .info fieldset,
.accessUi-owners-list .owner-item .info fieldset,
.accessUi-inherits-list .inherit-item .info fieldset,
.accessUi-permissions-list .permission-item .info fieldset {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    padding: 10px 0;
    border: none;
    text-align: right;
}
.accessUi-owners-list .owner-item .info fieldset {
    width: 200px;
}
.accessUi-rules-list .rule-item .list-child,
.accessUi-permissions-list .permission-item .list-child {
    list-style-type: none;
    margin: 1rem -2rem -1rem 0;
    padding: 0;
}
.accessUi .icon {
    height: 24px;
    width: 44px;
    border: 1px solid var(--border-main);
    border-radius: 5px;
    margin-right: 5px;
    background-color: transparent;
}
.accessUi-inherits-list .icon {
    display: inline-block;
}
.accessUi .icon:hover {
    cursor: pointer;
    border: 1px solid var(--border-hover);
}
.accessUi .icon:active {
    border: 1px solid var(--border-hover);
    background-color: var(--border-main);
}

.accessUi .permission-icon {
    display: inline-block;
    width: 26px;
    height: 1rem;
}
.accessUi .permission-icon:before {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 26px;
    height: 26px;
    margin-top: -2px;
}
.accessUi .permission-icon.yes:before {
    background-color: var(--permission-yes);
}
.accessUi .permission-icon.no:before {
    background-color: var(--permission-no);
}
.accessUi .permission-icon.inherit:before {
    opacity: 0.5;
}
.accessUi-permissions-list .permission-item summary .badges .permission-icon {
    width: 26px;
    height: 100%;
}
.accessUi-permissions-list .permission-item summary .badges .permission-icon:before {
    height: 100%;
    margin-top: 0;
    border-radius: 7px;
}


.accessUi-rules-list form,
.accessUi-owners-list form,
.accessUi-inherits-list .edit form,
.accessUi-permissions-list .edit form {
    padding: 1rem;
    margin: 1rem 0 -1rem;
}
.accessUi-rules-list form fieldset,
.accessUi-owners-list form fieldset,
.accessUi-inherits-list form fieldset,
.accessUi-permissions-list form fieldset {
    border: none;
    padding: 0;
    margin: 1rem 0;
}
.accessUi-rules-list .edit form label,
.accessUi-owners-list .edit form label,
.accessUi-permissions-list .edit form label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--inp-label);
    font-size: 0.8rem;
}
.accessUi form input,
.accessUi form textarea,
.accessUi form button,
.accessUi form select {
    padding: 0.5rem;
    border-radius: 5px;
    display: block;
    border: 1px solid var(--border-hover);
    width: calc(100% - 1rem);
    font-size: .9rem;
}
.accessUi form .btn {
    display: inline-block;
    width: 35%;
    background-color: var(--btn-main-bg);
}
.accessUi form .btn:hover,
.accessUi form .btn:active {
    background-color: var(--btn-main-bg-hover);
}

.accessUi form .btn-save {
    width: 55%;
    margin-right: 10%;
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
}
.accessUi form .btn-save:hover,
.accessUi form .btn-save:active {
    background-color: var(--btn-primary-bg-hover);
}

.accessUi form .btn:disabled {
    background-color: var(--btn-main-bg);
    color: var(--btn-main-bg-hover);
}


